<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <!-- link semantic ui css -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>    
        <body>
          <!-- Nav Bar -->
          <div class="ui fixed inverted menu">
              <div class="container">
                  <div class="header item"> <i class="code icon"></i> Blog App</div>
              </div>
              <a href="/" class="item">Home</a>
              <a href="/blogs/new" class="item">New Post</a>
          </div>
          <!-- Body -->
          <div style=" min-height: 100vh;margin-top:70px" class="ui main text container">